*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    font-family: "Poppins", sans-serif;
    color: #fff;
}
.title{
    font-size: 70px;
    padding: 30px;
    color: whitesmoke;
}
.details-section{
    padding: 30px;
    padding-top: 70px;
}
.details{
    font-size: 18px;
    font-weight: lighter;
}
.details span{
    padding: 20px;
}
.details-section p{
    color: lightskyblue;
    font-size: 15px;
    padding-top: 25px;
}
.details .text{
    color: red;
    padding: none;
}